html,
body {
    margin: 0 auto;
    max-width: 21cm;
    font-size: 10pt;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.table {
    border-collapse: collapse;
    width: 100%;
}

.table,
.table th,
.table td {
    border: 1px solid #000;
    padding: 2px 5px;
}

th {
    text-align: center;
}

.page {
    padding: 0.5cm;
    background: #fff;
}

table {
    margin: 0;
    padding: 0;
}

hr {
    margin: 0;
    border: none;
    border-bottom: 1px solid #000;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}


@media print {


    html,
    body {
        height: 100%;
        position: absolute;
    }

    html.receipt-58,
    .receipt-58 body {
        width: 58mm;
    }

    html.page-a4,
    .page-a4 body {
        width: 21cm;
    }

    .no-print,
    .no-print * {
        display: none !important;
    }
}

.m-3 {
    margin: 15px;
}

*.btn {
    display: inline-block;
    background: #eee;
    border: 1px solid #ddd;
    padding: 5px 15px;
    margin: 0;
    text-decoration: none;
    color: #333;
}

*.btn:hover {
    background: #f8f8f8;
    border-color: #ccc;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
    font-weight: bold;
}

h5 {
    font-size: 12pt;
}

h6 {
    font-size: 11pt;
}

table {
    border-spacing: 0;
    border-collapse: collapse;
    margin: 0;
}

table.info {
    margin: 10px 0;
}

table.info table td {
    border: none;
    padding: 2px 5px;
    border-bottom: 1px solid #888;
}

.text-primary {
    color: rgb(5, 133, 219);
}

.va-top {
    vertical-align: top;
}

.va-bottom {
    vertical-align: bottom;
}

.pt-2 {
    padding-top: 5px;
}

.warning-notes {
    font-style: italic;
    color: red;
    font-size: 9pt;
}